h1#title MQTT UI
#controlsContainer
	#controls.clearfix.isotope.fitRows
	#selectorContainer
		#classSelectors
			#functionSelectors.btn-group
				legend Function
			#locationSelectors.btn-group
				legend Location
